<a href="https://colab.research.google.com/github/MeenTers/KKU_data_mining/blob/master/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/data_viz'

In [6]:
province_path = os.path.join(path,'3.-41-58.xls')

In [36]:
province_df = pd.read_excel(province_path,skiprows=[0,1])
province_df

         Unnamed: 0  ...         บาท   Baht
0    ภาค และจังหวัด  ...  Region and province
1               NaN  ...                  NaN
2               NaN  ...                  NaN
3   ทั่วราชอาณาจักร  ...        Whole Kingdom
4          ตอนพิเศษ  ...      Greater Bangkok
..              ...  ...                  ...
85         นราธิวาส  ...           Narathiwat
86              NaN  ...                  NaN
87              NaN  ...                  NaN
88           ที่มา:  ...                  NaN
89          Source:  ...                  NaN

[90 rows x 13 columns]

In [45]:
province = province_df.rename(columns={'Unnamed: 0':'ภาคและจังหวัด','Unnamed: 2':'2541','Unnamed: 3':'2543','Unnamed: 4':'2545','Unnamed: 5':'2547','Unnamed: 6':'2549','Unnamed: 7':'2550','Unnamed: 8':'2552','Unnamed: 9':'2554','Unnamed: 10':'2556','Unnamed: 11':'2558','บาท Baht':'Region and province'})
province

      ภาคและจังหวัด  ...         บาท   Baht
0    ภาค และจังหวัด  ...  Region and province
1               NaN  ...                  NaN
2               NaN  ...                  NaN
3   ทั่วราชอาณาจักร  ...        Whole Kingdom
4          ตอนพิเศษ  ...      Greater Bangkok
..              ...  ...                  ...
85         นราธิวาส  ...           Narathiwat
86              NaN  ...                  NaN
87              NaN  ...                  NaN
88           ที่มา:  ...                  NaN
89          Source:  ...                  NaN

[90 rows x 13 columns]

In [48]:
a = province.drop([0,1,2,3,4,5,6,11,34,52,88,73,86,87])
a

          ภาคและจังหวัด  ...                  บาท   Baht
7               นนทบุรี  ...                    Nonthaburi
8              ปทุมธานี  ...                  Pathum Thani
9               ภาคกลาง  ...                Central Region
10      พระนครศรีอยุธยา  ...      Phra Nakhon Si Ayutthaya
12               ลพบุรี  ...                      Lop Buri
..                  ...  ...                           ...
82               พัทลุง  ...                    Phattalung
83              ปัตตานี  ...                       Pattani
84                 ยะลา  ...                          Yala
85             นราธิวาส  ...                    Narathiwat
89              Source:  ...                           NaN

[76 rows x 13 columns]

In [49]:
a.drop(columns=['Unnamed: 1'])

          ภาคและจังหวัด     2541  ...          2558                  บาท   Baht
7               นนทบุรี  24211.0  ...  36884.000000                    Nonthaburi
8              ปทุมธานี  21793.0  ...  41056.900000                  Pathum Thani
9               ภาคกลาง  12643.0  ...  26601.069581                Central Region
10      พระนครศรีอยุธยา  12918.0  ...  28379.400000      Phra Nakhon Si Ayutthaya
12               ลพบุรี  10587.0  ...  22955.100000                      Lop Buri
..                  ...      ...  ...           ...                           ...
82               พัทลุง  12315.0  ...  21478.300000                    Phattalung
83              ปัตตานี  10737.0  ...  17513.000000                       Pattani
84                 ยะลา   7560.0  ...  15583.800000                          Yala
85             นราธิวาส   6281.0  ...  19889.600000                    Narathiwat
89              Source:      NaN  ...           NaN                           NaN

[76 rows x 12 columns]

# เฉลย

In [50]:
df = pd.read_excel(province_path,header=3)
df

       ภาค และจังหวัด  ... Region and province
0                 NaN  ...                 NaN
1                 NaN  ...                 NaN
2     ทั่วราชอาณาจักร  ...       Whole Kingdom
3            ตอนพิเศษ  ...     Greater Bangkok
4       กรุงเทพมหานคร  ...             Bangkok
..                ...  ...                 ...
84           นราธิวาส  ...          Narathiwat
85                NaN  ...                 NaN
86                NaN  ...                 NaN
87             ที่มา:  ...                 NaN
88            Source:  ...                 NaN

[89 rows x 13 columns]

In [61]:
df_dp = df.dropna(subset=['ภาค และจังหวัด'])
df_dp

       ภาค และจังหวัด  ... Region and province
2     ทั่วราชอาณาจักร  ...       Whole Kingdom
3            ตอนพิเศษ  ...     Greater Bangkok
4       กรุงเทพมหานคร  ...             Bangkok
5         สมุทรปราการ  ...        Samut Prakan
6             นนทบุรี  ...          Nonthaburi
..                ...  ...                 ...
82            ปัตตานี  ...             Pattani
83               ยะลา  ...                Yala
84           นราธิวาส  ...          Narathiwat
87             ที่มา:  ...                 NaN
88            Source:  ...                 NaN

[85 rows x 13 columns]

In [63]:
df_dp = df_dp.drop([2,3,8,11,34,87,88])
df_dp

         ภาค และจังหวัด Unnamed: 1  ...     2558           Region and province
4         กรุงเทพมหานคร        NaN  ...  45571.7                       Bangkok
5           สมุทรปราการ        NaN  ...  25457.2                  Samut Prakan
6               นนทบุรี        NaN  ...  36884.0                    Nonthaburi
7              ปทุมธานี        NaN  ...  41056.9                  Pathum Thani
9       พระนครศรีอยุธยา        NaN  ...  28379.4      Phra Nakhon Si Ayutthaya
..                  ...        ...  ...      ...                           ...
80                 ตรัง        NaN  ...  23309.1                         Trang
81               พัทลุง        NaN  ...  21478.3                    Phattalung
82              ปัตตานี        NaN  ...  17513.0                       Pattani
83                 ยะลา        NaN  ...  15583.8                          Yala
84             นราธิวาส        NaN  ...  19889.6                    Narathiwat

[78 rows x 13 columns]

In [64]:
df_dp.drop(columns=['Unnamed: 1'])

         ภาค และจังหวัด     2541  ...     2558           Region and province
4         กรุงเทพมหานคร  26054.0  ...  45571.7                       Bangkok
5           สมุทรปราการ  18100.0  ...  25457.2                  Samut Prakan
6               นนทบุรี  24211.0  ...  36884.0                    Nonthaburi
7              ปทุมธานี  21793.0  ...  41056.9                  Pathum Thani
9       พระนครศรีอยุธยา  12918.0  ...  28379.4      Phra Nakhon Si Ayutthaya
..                  ...      ...  ...      ...                           ...
80                 ตรัง  12973.0  ...  23309.1                         Trang
81               พัทลุง  12315.0  ...  21478.3                    Phattalung
82              ปัตตานี  10737.0  ...  17513.0                       Pattani
83                 ยะลา   7560.0  ...  15583.8                          Yala
84             นราธิวาส   6281.0  ...  19889.6                    Narathiwat

[78 rows x 12 columns]